.wrapper {
    padding: 112px 0px;
    .text {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 32px; /* Додаємо відступ між текстом і слайдером */
  
      h2 {
        color: inherit;
        font-size: var(--headline_h2);
        background: linear-gradient(
          180deg,
          #ffffff 0%,
          rgba(255, 255, 255, 0.2) 100%
        );
        line-height: var(--headline_h2_line);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0;
      }
  
      p {
        width: 450px;
        font-size: var(--p);
        color: var(--body_text_color);
        margin: 0;
      }
    }
  
    .nav {
        margin-top: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .slider {
      position: relative;
      overflow: hidden; 
      width: 100%;
      height: 600px; 

  
      .sliderTrack {
        display: flex;
        gap: 32px;
        width: 100%; /* Трек повинен займати всю ширину */
        will-change: transform; 
        transition: transform 1s ease;
      }
  
      .slide:first-child {
        margin-left: 0px;
      }
      .slide {
     
        max-width: 1028px;
        min-width: 80%; 
        flex-shrink: 0; 
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        padding: 64px;
        overflow: hidden; 
        border-radius: 32px;
        background: var(--secondary_bg_color);
        height: 600px;
  
        img {
        border-radius: 32px; 
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          z-index: 1;
        }
  
        span {
          font-weight: 500;
          font-size: 32px;
          z-index: 2;
          color: var(--primary_color);
          margin-bottom: 16px;
        }
  
        p {
          color: #fff;
          z-index: 2;
          font-size: var(--p);
        }
      }
  
      .nav {
        display: flex;
        justify-content: center;
        margin-top: 16px;
  
        button {
          padding: 8px 16px;
          margin: 0 8px;
          background-color: var(--primary_color);
          border: none;
          border-radius: 8px;
          color: white;
          cursor: pointer;
          transition: background-color 0.3s ease;
  
          &:hover {
            background-color: var(--highlight_color);
          }
        }
      }
    }
  }
  


@media screen and (max-width:768px) {
    .wrapper {
        .text {
            flex-direction: column;
            align-items: flex-start;
            p {
                margin-top: 32px;
                width: 100%;
            }
        }
        .slider {
           .sliderTrack {
            gap: 0px;
           }
            .slide {
                padding: 32px;
                flex: 0 0 100%;
                width: 100% ;
            }
        }
    }
}