.localization {
    cursor: pointer;
    background: var(--secondary_bg_color);
    padding: 16px 32px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  
   
    &:hover {
        background: var(--secondary_bg_color);
        p {
            color: var(--primary_color);
        }

  
    }
    p {
        font-size: var(--p);
        color: var(--white_color);
        font-weight: 400;
        transition: var(--base);
       
    }
    img {
        width: 24px;
        height: 24px;
    }
  
}

.lang_option {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
    p {
        font-size: var(--p);
        color: var(--white_color);
        font-weight: 400;
    }

    img {
        min-width: 24px;
        min-height: 24px;
        width: 24px;
        height: 24px;
    }
}
