.wrapper {
    padding: 112px 0px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    .left_data {
        display: flex;
        justify-content: space-between;

    h1 {
        font-size: var(--headline_h2);
     
        line-height: var(--headline_h2_line);

        color: #fff;
        div {
   
    
        }
        p {
            font-size: inherit;
            background: -webkit-linear-gradient(#eee, #333);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        
        }
    }
    .ninja {
        padding: 64px;
        display: flex;
        flex-direction: column;
        gap: 32px;
        position: relative;
        max-width: 737px;
        p {
            color: var(--body_text_color);
            font-size: var(--p);
        }
    }
}
.right_data {
    display: flex;
    gap: 16px;
}
 
}

@media screen and (max-width:1440px) {
    .wrapper {
        flex-direction: row;
        .left_data {
            flex-direction: column;
            flex: 1;
            max-width: 564px;
        }
        .right_data {
            flex: 1;
            display: grid;
            gap: 32px;
            grid-template-columns: 1fr 1fr; /* Два стовпці */
            grid-template-rows: auto auto;  /* Два рядки */
            grid-template-areas: 
              "left right-top"
              "left right-bottom"; /* Блок ліворуч займає два рядки */
            div:nth-child(1) {
                grid-area: right-top;
            }
            div:nth-child(2) {
                grid-area: right-bottom;
            }
            div:nth-child(3) {
                grid-area: left;
                height: fit-content;
                align-self: center;
            }
        }

    }

}

@media screen and (max-width:1256px) {
    .wrapper {
        gap: 32px;
        flex-direction: column;
        .left_data {
            width: 100%;
            flex: 1;
            max-width: none;
            .ninja {
                margin-top: 32px;
                align-self: flex-end;
            }
        }
    }
}
@media screen and (max-width:864px) {
    .wrapper {
        .left_data {
            text-align: center;
            justify-content: center;
            .ninja {
                align-self: center;
            }
      
        }
        .right_data {
            display: flex;
            flex-direction: column;
        }
    }
}
@media screen and (max-width:768px) {
    .wrapper {
        .left_data {
            text-align: left;
            h1 {
                text-align: center;
                font-size: 40px ;
                line-height: 44px;
            }
        }
    }
}