.wrapper_block {
    padding: 32px;
    background: var(--base_bg);
    display: flex;
    align-items: center;  
    gap: 32px;

    max-width: 450px;
    min-width: 400px;
    position: relative;
    
    background-origin: border-box;
    border-radius: 16px;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 16px;
        padding: 1px; /* Товщина бордера */
        background: linear-gradient(90deg, rgba(49, 50, 62, 1), rgba(60, 74, 83, 0));
        -webkit-mask: 
          linear-gradient(#fff 0 0) content-box, 
          linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        z-index: 1;

    }
    .arrow {
        position: absolute;
        top: 10px;
        z-index: 2;
        right: 10px;
   
    }
    .icon {
        z-index: 2;
        img {
            width: 64px;
            height: 61px;
            min-width: 64px;
            min-height: 61px;
        }
    }
    .text_data {
        z-index: 2;
        display: flex;
        flex-direction: column;
        gap: 8px;
        h3 {
            font-size: var(--headline_h6);
            color: var(--white_color);
            font-weight: 500;
        }
        p {
            color: var(--body_text_color);
            font-size: var(--p);
            font-weight: 400;
        }
    }
} 

@media screen and (max-width:1024px) {
    .wrapper_block {
        flex-grow: 1;
        min-width: 0;
        max-width: none;
    }
}
@media screen and (max-width:768px) {
    .wrapper_block {
        padding: 24px;
    }
}

