.animated-text-container .line {
    position: relative;
    overflow: hidden;
  }
  
  .line-mask {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    opacity: 0.65;
    height: 100%;
    width: 100%;
    z-index: 2;
  }
  