.navbar_wrapper {
    z-index: 999;
    background: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 16px 0px;

    position: fixed;
    width: 100%;
    .content {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    .menu_wrapper {


        ul {
            display: flex;
            align-items: center;
            gap: 48px;
            li {
                a {
                    font-size: var(--p);
                    color: var(--white_color);
                    font-weight: 400;
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    transition: var(--base);
                    svg {
                        path {
                            transition: 0.3s;
                        }
                    }
                    &:hover {
                        color: var(--primary_color);
                        svg path {
                            fill: var(--primary_color);
                        }
                    }
                }
                .active {
                    color: var(--primary_color);
                    fill: var(--primary_color);
                }
                
            }
        }
    }
    .mobile_menu {
        display: none;
        background: var(--secondary_bg_color);
        width: 56px;
        height: 56px;
        align-items: center;
        justify-content: center;
        border-radius: 100px;


    }
}
}

@media screen and (max-width:1024px) {
    .navbar_wrapper {
        .content {
            justify-content: flex-end;  
            gap: 16px;
            .logo_wrapper {
                margin-right: auto;
            } 
            .menu_wrapper {
                display: none;
            } 
            .mobile_menu {
                display: flex;
            }
        }
    }
}
