@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  /* Palette */
  --primary_color: #ffa100;
  --primary_bg_color: #12141b;
  --secondary_bg_color: #16171f;
  --white_color: #fff;
  --body_text_color: #9a9ea7;
  --primary_stroke: rgba(49, 50, 62, 1);
  --title_gradient: linear-gradient(
    180deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  --base_bg: linear-gradient(
    117.54deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
  --btn_base: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
  --stroke_btn: linear-gradient(90deg, #31323e 0%, rgba(49, 50, 62, 0) 100%);
  --stroke:rgba(49, 50, 62, 1);
  /* Fonts sizes */
  --big_text: 6rem;
  --headline_h1: 4.375rem;
  --headline_h2: 4rem;
  --headline_h3: 2rem;
  --headline_h4: 1.5rem;
  --headline_h5: 1.25rem;
  --p: 1rem;
  --p2: 0.875rem;

  --headline_h2_line:71px;

  /* Transitions */
  --base: 0.3s;
}
html,body {

}
body {
  background: var(--primary_bg_color);
  
}

.bordered-button {
  z-index: 44;
}
.bordered-button:hover {
  background: linear-gradient(
    117.54deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
  
  .button-animated {
    background: var(--primary_color);
    svg {
      path {
        fill: #000;
      }
    }
  }
}
.button-animated.hovered {
  background: var(--primary_color);
  svg {
    path {
      fill: #000;
    }
  }
}
.active_svg {
  path {
    fill:var(--primary_color)
  }
}


.no-hover:hover {
  background-color: inherit !important; /* Забороняє змінювати фон при ховері */
}
.colums-c-2 {
  column-count: 2;
}
.colums-c-1 {
  column-count: 1;
}
.colums-c-gap-16 {
  column-gap: 16px; 
}
.border-custom-bottom::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 16px;
    padding: 1px; /* Товщина бордера */
    background: linear-gradient(2deg, rgba(49, 50, 62, 1), rgba(60, 74, 83, 0));
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: 11;


}
.border-custom::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 16px;
  padding: 1px; /* Товщина бордера */
  background: linear-gradient(90deg, rgba(49, 50, 62, 1), rgba(60, 74, 83, 0));
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 1;

}
.fade {
  width: 450px;
  height: 300px;
  background: rgba(18, 20, 27, 1);
  filter: blur(140px);
  position: absolute;
  z-index: 3;
}

.conteiner {
  width: calc(100% - 128px);
  margin: 0 auto;
}

@media screen and (max-width:1440px) {
  .conteiner {
    width: calc(100% - 64px);
  }
}
@media screen and (max-width:768px) {
  .conteiner {
    width: calc(100% - 32px);
  }
  .conteiner_header {
    width: calc(100% - 16px);
  }
}

.circle {
  background: var(--primary_color);
  border-radius: 100%;
  width:300px;
  height: 300px;
  filter: blur(420px);
}

@media screen and (max-width:768px) {
  :root {
    --headline_h2: 40px;
    --headline_h2_line:44px;
  }
}
.accordion-item {
  background-color: var(--secondary_bg_color);
  color: #ffffff; 
  border-bottom: 1px solid #333;
  padding: 32px; 
  transition: 0.3s;
}

.accordion-content {
  color: var(--body_text_color); 
  margin-top: 8px;
}

.accordion-item:hover {
  background-color: #222; /* Зміна фону при наведенні */
}