.circle {
    position: absolute;
    bottom: 0px;
    right: 0;
    filter: blur(311px);
}
.wrapper {
    padding-top: 90px;

    display: flex;
    gap: 16px;
    padding-bottom: 64px;
    
    .bordered {
        padding: 48px;
        background: var(--secondary_bg_color);
        border-radius: 32px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 64px;
        .text_data {
            padding-top: 264px;
            p {
                display: flex;
                align-items: center;
                gap: 8px;
                color: #FFF;
                font-size: var(--p);
                font-weight: 400;
                

            }
            h1 {
                padding-top: 16px;
                font-size: var(--headline_h1);
                color: #fff;
                line-height: 84px;
                span {
                    font-size: inherit;
                    color: var(--primary_color);
                }
            }
        }
        .button {
            width: fit-content;
        }
    }
    .image {
        position: relative;
        background: linear-gradient(117.54deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 100%);
        border-radius: 32px;
        width: 100%;
        max-width: 428px;
        padding-left: 10px;
        margin-left: -10px;
        padding-right: 10px;
        margin-right: -10px;
        position: relative;
        //робить щоб у тіпа ноги не торчади хзавхавз хз як
        clip-path : polygon(-1000% 0 ,1000% 0, 1000% 100%, -1000% 100%);
        &::before {
            z-index: 0 !important;
            border-radius: 32px;
        }
        .img {
            background: url("../images/whitelabel7.png") no-repeat;
            background-size:541px 728px;
            position: absolute;
            height: 100%;
            background-position: center;
            bottom: 0;
            min-height: 728px;
            border-radius: 32px;
            width: 100%;
            z-index:99 ;
            mix-blend-mode: lighten;

          transform:  scale(1.1);
            
        }
    }
}
.about {
    padding: 122px 32px;
    background: var(--secondary_bg_color);
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
    .circle {
        position: absolute;
    }
    .circle:nth-child(1) {
        bottom: -200px;
        left: -200px;
    }
    .circle:nth-child(2) {
        top: -100px;
        right: -200px;
    }
    h3 { 
        align-self: flex-start;
        font-size: var(--headline_h2);
        background: -webkit-linear-gradient(#eee, #333);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        line-height: 70px;
    }
    p {
        width: 50%;
        justify-self: flex-end;
        line-height: 40px;
        font-size: var(--headline_h4);
        color:rgba(154, 158, 167, 0.5);
        font-weight: 400;
    }
}

.wrapper_second {
    h1 {
        font-size: var(--headline_h2);
        background: -webkit-linear-gradient(#eee, #333);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        line-height: 70px;
    }

}