.wrapper {
    background: var(--secondary_bg_color);
    padding: 112px 0px;
    h2 {
        color: inherit;
    font-size: var(--headline_h2);
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.2) 100%);
    line-height: var(--headline_h2_line);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 32px;
    }
    .tools {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        gap: 16px;
        .tool {
            min-width: 264px;
            background: var(--primary_bg_color);
            border-radius: 16px;
            padding: 32px;
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex-direction: column;
            gap: 16px;
            flex: 1;

            p {
                color: var(--body_text_color);
                font-size: var(--p);
            }
        }
    }
}

@media screen and (max-width:475px) {
    .wrapper {
        .tools {
            .tool {
                min-width: 170px;
            }
        }
    }
}