.wrapper {
    padding: 112px 0px;
    display: flex;
    gap:16px;
    .metadata {
        max-width: 786px;
        flex: 1;
        background: var(--secondary_bg_color);
        border-radius: 32px;
        padding: 48px;
        height: fit-content;
        position: sticky;
        top: 90px;
        .text_data {
            margin-bottom: 258px;
            display: flex;
            flex-direction: column;
            gap: 32px;
            h2 {
                font-size: var(--headline_h2);
                color: #fff;
                line-height: 70px;
                p {
        
                    color: inherit;
                    font-size: inherit;
                    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.2) 100%);
                    line-height: var(--headline_h2_line);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            p {
                line-height: 24px;
           
                color: var(--body_text_color);
                font-size: var(--p);
            }
        }
        .button {
            width: fit-content;
        }


    }
    .blocks {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        .block {
            min-width: 437px;
            
            display: block;
            background: linear-gradient(117.54deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 100%);
            border-radius: 16px;
            position: relative;
            padding: 32px;
            z-index: 2;
            display: flex;
            flex-direction: column;
            gap: 32px;
            flex-grow: 1;
            flex: 1;
            .number {
                display: flex;
                position: relative;
                z-index: 2;
                align-items: center;
                justify-content: center;
                width: 64px;
                height: 64px;
                border-radius: 100%;
                border: 1px solid var(--stroke);
                font-size: var(--headline_h4);
                color: var(--primary_color);
                font-weight: 500;
            }
            p {
                z-index: 2;
                font-size: var(--headline_h5);
                color: #fff;
                font-weight: 500;
            }
        }
    }
}

.command {

    padding-bottom: 112px;
    .content {
        display: flex;
        flex-direction: column;
        gap: 64px;
        z-index: 2;
        .nav {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            .text {
                display: flex;
                flex-direction: column;
                gap: 32px;
                h2 {
                    font-size:var(--headline_h2) ;
        
                    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.2) 100%);
                    line-height:var(--headline_h2_line);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    span {
                        font-size: var(--headline_h2);
                        background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.2) 100%);
                        line-height: var(--headline_h2_line);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
                p {
                    color: var(--body_text_color);
                    font-size: var(--p);
                }
            }
            .navigation {
                display: flex;
                gap: 16px;
                align-items: center;
                .arrows {
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    div:last-child {
                        transform: rotate(180deg);
                    }
                }
                .slider_nav {
                    display: flex;
                    align-items: center;
                    gap: 16px;
                .progress_wrapper {
                    position: relative;
                    height: 6px;
                    background-color: #353535; /* Темний фон для прогрес-бара */
                    border-radius: 3px;
                  
                    width: 60%; /* Встановлюємо ширину для трекера */
                    margin-left: 10px; /* Відступ зліва для вирівнювання */
                    min-width: 100px;
                  }
                  
                  .progress_bar {
                    height: 100%;
                    background-color: #ffffff; /* Білий колір для активного прогрес-бара */
                    border-radius: 3px;
                    transition: width 0.3s ease; /* Плавна анімація зміни ширини */
                  }
                  .custom_pagination {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start; /* Вирівнюємо кружочки вліво */
    
                  }
            }
        }
        }
        .devs {
          
            z-index: 2;
        
        }
      
    }
}

@media screen and (max-width:1024px) {
    .wrapper {
        flex-direction: column;
        .metadata {
            position:inherit;
            max-width: none;
            width: 100%;
            .text_data {
                margin-bottom: 32px;
                h2 {
                    line-height: 44px;
                }
            }
        }
        .blocks {
            .block {
                min-width: fit-content;
            }
        }
    }
}


@media screen and (max-width:768px) {
 .wrapper {
    .metadata {
        padding: 24px;
    }
 }   
 .command {
    .content {
        .nav {
            flex-direction: column;
            align-items: flex-start;
            .text {
                gap: 16px;
            }
            .navigation {
                margin-top: 64px;
                justify-content: space-between;
                flex: 1;
                width: 100%;
            }
        }
    }
 }
}

@media screen and (max-width:400px) {
    .command {
        .content {
            .nav {
                .navigation {
                    flex-direction: column;
                    width: 100%;
                    gap: 32px;
                    .arrows {
                        justify-content: space-between;
                        width: 100%;
                    }
                        .slider_nav {
                            width: 100%;
                            justify-content: space-between;
                            .custom_pagination {
                                justify-content: flex-end;
                            }
                            
                        }
                }
            }
        }
    }
}