.wrapper {
    padding-bottom: 112px;

    .top_items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
            color: inherit;
            font-size: var(--headline_h2);
            background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.2) 100%);
            line-height: var(--headline_h2_line);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .navigation {
            display: flex;
            gap: 16px;
                align-items: center;
            .arrows {
                display: flex;
                align-items: center;
                gap: 16px;
                div:last-child {
                    transform: rotate(180deg);
                }
            }
        }
    }
    .projects {
        display: flex;
        overflow: auto;
        gap: 16px;
        cursor: pointer;
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */
        position: relative;
    
        &::-webkit-scrollbar { 
            display: none;  /* Safari and Chrome */
            z-index: 45;
        }
        .project {
            margin-top: 64px;
            position: relative;
            background: linear-gradient(117.54deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 100%);
            border-radius: 16px;
            padding: 32px;
            min-width: 400px;

            p {
                font-size: var(--headline_h5);
                color: #fff;
            }
            span {
                font-size: var(--p);
                color: var(--body_text_color);
            }
            .button {
                position: absolute;
                top: 10px;
                transform: rotate(130deg);
                right: 10px;
            }
        }
    }
   
}