.wrapper_footer {
  background: rgba(25, 26, 34, 1);
  padding: 112px 32px;
  padding-bottom: 0px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 32px;
  .circle {
    position: absolute;
    top: -220px;
    left: 30px;
  }
  .slogan {
    margin-bottom: 120px;
    h2 {
      line-height: 115px;
      color: #fff;
      font-size: var(--big_text);
    }
    p {
        line-height: 115px;
        background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.2) 100%);
        line-height: inherit;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
  }
  .footer_content {
    display: flex;
    gap: 64px;
    align-items: flex-start;
    .left {
        flex: 1;
      .columns {
        display: flex;
        justify-content: space-between;

        .col {
          &:last-child {
            margin-top: auto;
          }
          span {
            color: rgba(255, 255, 255, 0.4);
            font-size: var(--p2);
            font-weight: 400;
          }
          .links {
            padding-top: 32px;
            display: flex;
            gap: 24px;
            flex-direction: column;
            a {
              display: flex;
              align-items: center;
              gap: 8px;
              color: #fff;
              font-size: var(--p2);
              font-weight: 400;
            }
          }
          .contacts {
            padding-top: 32px;
            display: flex;
            gap: 24px;
            flex-direction: column;

            span {
              display: flex;
              align-items: center;
              gap: 4px;
              color: rgba(255, 255, 255, 0.4);
              font-size: var(--p2);
              font-weight: 400;
              p {
                color: #fff;
              }
            }
          }
          .contacts_icons {
            padding-top: 16px;
            display: flex;
            gap: 16px;

            .icon {
              border: 1px solid var(--stroke);
              padding: 10px;
                cursor: pointer;
              border-radius: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              background: linear-gradient(
                  0deg,
                  rgba(60, 60, 67, 0.1),
                  rgba(60, 60, 67, 0.1)
                ),
                linear-gradient(
                  90deg,
                  rgba(255, 255, 255, 0.05) 0%,
                  rgba(255, 255, 255, 0) 100%
                );

              img {
                width: 24px;
                height: 24px;
              }
            }
          }
        }
      }
    }
    .right {
        flex: 1;
    }
  }
  .bottom_data {
    padding:  32px 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
        font-size: var(--p2);
        color: #72747A;
    }
    span {
        display: flex;
        gap: 4px;
        font-size: var(--p2);
        color: #72747A;
        p {
            color: #fff;
        }
    }
  }
}


@media screen and (max-width:1024px) {
  .wrapper_footer {
    .slogan {
      margin-bottom: 0px;
      h2 {
        font-size: 64px;
        line-height: 76px;
      }
    }
    .footer_content {
      flex-direction: column;
      .left {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 32px;
        .columns {
          flex-wrap: wrap;
          gap: 16px;
          justify-content: space-between;
          width: 100%;
          flex: 1;
        }
       
      }
      .right {
        width: 600px;
      }
    }

  }
}
@media screen and (max-width:850px) {
  .wrapper_footer {
    .bottom_data {
      flex-direction: column;
      align-items: center;
      gap: 32px;
      padding: 16px;
      text-align: center;
    }
  }   
  
}
@media screen and (max-width:768px) {
  .wrapper_footer {
    padding: 16px;
    .footer_content {

      .right {
        
        width: 100%;
      }
    }
  }
}